.container {
	max-width: 700px;
	margin: 50px auto;
	padding: 50px;
	border-radius: 8px;
	background-color: #f7f9fc;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	font-style: normal;
	font-weight: 700;
	font-family: "SUSE", sans-serif;
	font-size: 1.1rem;
	line-height: 40px;
	color: #000000;
}

h1 {
	text-align: center;
	color: #458ff6;	
	margin-bottom: 50px;
}


h2 {
	text-align: left;
	color: grey;
	margin-bottom: 50px;
}

.birthdateGenderRow {
	display: flex;
	gap: 20px;
	align-items: flex-start;
	margin-bottom: 20px;
}

.birthdate-container {
	display: flex;
	gap: 10px;
	width: 70%;
}

.gender-container {
	flex: 1;
}



.form {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin-bottom: 20px;
	display: flex;
	/* Flexbox를 사용하여 수직 정렬 */
	flex-direction: column;
	/* 질문과 답변을 세로로 정렬 */
}

label {
	margin: 10px 0;
	margin-bottom: 5px;
	font-weight: bold;
	text-align: left;
}
input,
select,
textarea {
	flex: 4;
	/* 답변 영역 비율 */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: border-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
	border-color: #458ff6;
	outline: none;
}

input[type="text"],
select {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #458ff6;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #357bce;
}
